<!-- Post Template -->
<article class="post fade-in">
  <h1 class="post-title">
    <%= data.title %>
  </h1>
  <% if(data.date) { %>
    <time class="post-date">
      <span><%= data.date %></span>
    </time>
  <% } %>
  <div class="post-tags mb-3">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/posts?tag=<%= tag %>" class="post-tag btn btn-sm btn-outline-primary"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="post-content mb-4">
    <%= data.body %>
  </div>
  <p class="text-right">
    <a href="https://twitter.com/intent/tweet?text=Antのブログらしきもの_<%= data.title %>&url=<%= (location.href).replace(/#/g , '%23')%>"
      class="btn btn-sm btn-primary"
      role="button"
    ><i class="fab fa-twitter fa-fw"></i>ツイート</a>
  </p>
</article>