<!-- Post List Template -->
<div class="posts-list fade-in">
  <% data.posts.forEach(function(post) { %>
    <% if(!post.draft) { %>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title post-title"><a href="<%= post.permalink %>"><%= post.title %></a></h4>
          <h6 class="card-subtitle mb-2 text-muted post-date"><%= jpDateConversion(post.date) %></h6>
          <% if(post.excerpt) { %>
            <p class="card-text"><%= post.excerpt %></p>
          <% } %>
          <a href="<%= post.permalink %>" class="card-link">続きを読む</a>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>